<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MeetingNotesEntities" connectionString="metadata=res://*/EntityFramework.MeetingNotes.csdl|res://*/EntityFramework.MeetingNotes.ssdl|res://*/EntityFramework.MeetingNotes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MeetingNotes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>